/* Mobile-First Styles */

/* Typography */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  line-height: 1.6;
}
h1 {
  font-family: 'Open Sans', sans-serif;
}
/* Color Scheme */
:root {
  --primary-color: #50b3a2;
  --secondary-color: #333;
  --background-color: #f4f4f4;
}
body {
  background-color: var(--background-color);
  color: var(--secondary-color);
}
header {
  background: var(--primary-color);
  color: white;
}
 
 
  
 